<h1>Sort...</h1>

<form action="/sort" method="get" accept-charset="utf-8">
	<select name="" class="dropdown">
		<% @categories.each do |cat|%>
			<option value='<%= cat %>'><%= cat %></option>
		<% end %>
	</select>
</form>
<br />

<div class="row clearfix">
<% @stories.each do |story| %>

		<div class="col-md-4 column">
			<h2>
				<%= story['title'] %>
			</h2>
			<a href='<%= story['link'] %>' target="_blank">
				<img src='<%= story['image'] %>' width="300px" /><br />
			</a>
			<a href='<%= story['link'] %>' target="_blank">
				<%= story['title'] %>
			</a>
			<p>
				<%= story['excerpt'] %>
			</p>
			<p>
				<a class="btn" href="<%= story['link'] %>">Read Story</a>
			</p>
		</div>
<% end %>
</div>